<div class="relative w-full h-full overflow-hidden overflow-y-auto">
  <img src="/sky.jpg" alt="" class="moving-bg" />
  <main class="flex flex-col items-center justify-center h-full">
    <h1
      class="rounded-full bg-black text-white text-4xl min-h-60 !size-60 flex items-center justify-center z-10"
      style="font-family: 'roboto', sans-serif;"
    >
      ARGOT
    </h1>
    <div class="h-[300vh]"></div>
  </main>
</div>

<style>

.moving-bg {
	position: absolute;
	top: 0;
	left: 0;
	min-width: 200%;
	height: 100%;
	object-fit: cover;
	animation: moveBg 60s linear infinite alternate ;
}

@keyframes moveBg {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}
</style>
