<main class="flex flex-col items-center justify-center h-full">
	<h1
	class="rounded-full bg-black text-white text-4xl min-h-60 !size-60 flex items-center justify-center z-10"
	style="font-family: 'roboto', sans-serif;"
	>
		ARGOT
	</h1>
</main>